<html>
<head>
  <title>Home</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.png" />
  <meta content="eTravel.flights.searches.new" name="js-namespace">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/jquery.formstyler.css">
  <link rel="stylesheet" href="/static/css/style2.css" />
  
  
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>    
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,700' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>  

<body>

<!-- Navbar -->

  <header id="top">
	<div class="header-a">
		<div class="wrapper-padding">			
			<div class="header-phone">
			
			<span> {{username}}</span> 
			
			
			
			</div>

			
			
            <div class="header-curency">
                
			    <a href="/logout">Logout</a>
			    
			</div>
			
            <div class="header-viewed">

				<a href="#" class="header-viewed-btn">{{airline_id}}</a>
				<div class="viewed-drop">
						<div class="viewed-drop-a">
						
							<!-- // -->
							<div class="viewed-item">
							    
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/view_top_agent"> View booking agents</a></div>	
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							<!-- // -->
							<div class="viewed-item">
							    
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/view_fre_cus">View frequent customers</a></div>	
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							
							<!-- // -->
							<div class="viewed-item">
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/view_top_des">View Top destinations</a></div>	
								</div>
								<div class="clear"></div>
							</div>
							<div class="viewed-item">
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/report">report</a></div>	
								</div>
								<div class="clear"></div>
							</div>	
							<div class="viewed-item">
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/home">home</a></div>	
								</div>
								<div class="clear"></div>
							</div>														
							<!-- \\ -->
							
						 </div>
				 </div>
					
            </div>

			</div>				
			
              
			
		  </div>
	   </div>
	
	
  </div>	
</header>
<!-- Navbar -->	  
<div class="main-cont">

	<div class="mp-slider search-only">
		<!-- // slider // -->
		<div class="mp-slider-row">
			<div class="swiper-container">
				<img src= "/static/img/background.jpg" >
			</div>
		</div>
		<!-- \\ slider \\ -->
	</div>	
	


		
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">Flight - <span>{{airline_id}}{{flight_id}}</span></div>
      <div class="breadcrumbs">
        <a href="#">Home</a> / <span>Flight</span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="two-colls">
      <div class="two-colls-left">
        
        <div class="srch-results-lbl fly-in">
          {% if customer_info|length == 0 %}
            <span> {{customer_info|length}} records found.</span>
          {% else %}
            <span> {{customer_info|length}} records found.</span>
          {% endif %}
        </div> 
	       
        

        
    
        
      </div>
      <div class="two-colls-right">
        <div class="two-colls-right-b">
          <div class="padding">
          

            
            
            
            <div class="catalog-head fly-in">
              <label>Get customer for flight:</label><br>
             
              <form action="/customer_of_flight"  method="POST" >
              <label>Flight ID</label>
              <div class="search-select">
                     
							<select required name= "flight_id" >
							        <option value="" disabled selected>--</option>
									{% for x in flightid %}
									<option value= {{x}} {% if loop.first %} SELECTED{% endif %}>{{airline_id}}{{x}}</option>
									{% endfor %}
							</select>
    							
    		  </div>  		  
    					
    				<button type="submit" class="srch-btn">Search</button>
    		  
    		  </form>
              
              <a href="#" class="show-list"></a>              
 
              <div class="clear"></div>
            </div>      
                             
            <div class="catalog-row">
              <!-- // flight-item // -->
              {% for i in range(customer_info|length) %} 
              <form action="/flight_history_s"  method="POST">
              <div class="flight-item fly-in">
                <div class="flt-i-a">
                  <div class="flt-i-b">
                    <div class="flt-i-bb">
                    <div class="flt-l-a">
                    
                      <div class="flt-l-b">
                        <div class="way-lbl">Name</div>
                        <div class="company" name="flight_id">{{customer_info[i]["name_on_card"]}}</div>
                      </div>
                      <div class="flt-l-c">
                        <div class="flt-l-cb">
                          <div class="flt-l-c-padding">
                            <div class="flyght-info-head">{{customer_info[i]["booking_time"]}}
                            </div>
                            <!-- // -->
                            <div class="flight-line">
                            
                             <div class="flight-line-a">
                                <b>sold price</b>
                                <span>${{customer_info[i]["sold_price"]}}</span>
                              </div>                          
                                            
                              
                              <div class="flight-line-d"></div>
                              <div class="flight-line-a">
                                <b>agent</b>
                                {% if customer_info[i]["agent_email"] %}
                                <span>{{customer_info[i]["agent_email"]}}</span>
                                {% else %}
                                <span>None</span>
                                {% endif %}
                              </div>

                              <div class="flight-line-d"></div>
                              <div class="flight-line-a">
                                <b>commission</b>
                                {% if customer_info[i]["commission"] %}
                                <span>${{customer_info[i]["commission"]}}</span>
                                {% else %}
                                <span>None</span>
                                {% endif %}
                              </div>                              
                              <div class="clear"></div>
                               
                                                           
                            </div>
                            
                          </div>
                        </div>
                        <br class="clear" />
                        
                      </div>
                    </div>
                    <div class="clear"></div>
                    </div>
                    <br class="clear" />
                  </div>
                </div>
                
                <div class="clear"></div>
              </div>
              </form>
              {% endfor %}
              <!-- \\ flight-item \\ -->
              
                                                                 
            </div>
            
            <div class="clear"></div>
            
          </div>
        </div>
        <br class="clear" />
      </div>
    </div>
    <div class="clear"></div>
    
    </div>	
  </div>	
</div>



<!-- // scripts // -->
  <script src= "{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src= "{{url_for('static', filename='js/jqeury.appear.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/bxSlider.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/jquery.formstyler.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/custom.select.js')}}"></script> 
  <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>     
  <script type="text/javascript" src="{{url_for('static', filename='js/twitterfeed.js')}}"></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script>
  	$(document).ready(function(){
	   'use strict';
      (function($) {
        $(function() {
          $('input:checkbox,input:radio,.search-engine-range-selection-container input:radio').styler();
        })
      })(jQuery);   
	  
		var slider_range = $("#slider-range");
		var ammount_from = $("#ammount-from");
		var ammount_to = $("#ammount-to");
		
		$(function() {
			slider_range.slider({
			  range: true,
			  min: 0,
			  max: 1500,
			  values: [ 275, 1100 ],
			  slide: function( event, ui ) {
				ammount_from.val(ui.values[0]+'$');
				ammount_to.val(ui.values[1]+'$');
			  }
			});
			ammount_from.val(slider_range.slider("values",0)+'$');
			ammount_to.val(slider_range.slider("values",1)+'$');
		});
      
      $(".side-time").each(function(){
          var $this = $(this);
          $this.find('.time-range').slider({
              range: true,
              min: 0,
              max: 24,
              values: [ 3, 20 ],
              slide: function( event, ui ) {
                $this.find(".time-from").text(ui.values[0]);
                $this.find(".time-to").text(ui.values[1]);
              }
          });
          $(this).find(".time-from").text($this.find(".time-range").slider("values",0));
          $(this).find(".time-to").text($this.find(".time-range").slider("values",1));
        });
  	});
  </script>
<!-- \\ scripts \\ --> 
 
</body>  
</html> 