<!DOCTYPE html>
<html lang="en">
<head>
  <title>Booking</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  <link rel="stylesheet" href="/static/css/jquery.formstyler.css">  
  <link rel="stylesheet" href="/static/css/style2.css" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>    
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,700' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>	

</head>  
<body>  


<!-- Navbar -->

  <header id="top">
	<div class="header-a">
		<div class="wrapper-padding">			
			<div class="header-phone">
			
			<span> {{username}}</span> 
			
			
			
			</div>
			
            <div class="header-viewed">
                
			    <a href="/logout" class="header-viewed-btn">Logout</a>
			    
			</div>
			
			<div class="header-viewed">
				<a href="#" class="header-viewed-btn">My Account</a>
				<div class="viewed-drop">
						<div class="viewed-drop-a">
						
							<!-- // -->
							<div class="viewed-item">
							    
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/view_my_commission">View My Commission</a></div>	
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							<!-- // -->
							<div class="viewed-item">
							    
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/view_top_customers">View Top Customers</a></div>	
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							
							<!-- // -->
							<div class="viewed-item">
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="#">Personal Information</a></div>	
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							
						 </div>
				 </div>
					
            </div>
			
		  </div>
	   </div>
	
	
  </div>	
  
  <!-- Navbar -->	 
	<div class="header-b">
		
			
		<div class="wrapper-padding">
			<div class="header-logo"><a href="index.html"></a></div>
			<div class="header-right">
				<div class="hdr-srch">
					<a href="#" class="hdr-srch-btn"></a>
				</div>
				<div class="hdr-srch-overlay">
					<div class="hdr-srch-overlay-a">
						<input type="text" value="" placeholder="Start typing...">
						<a href="#" class="srch-close"></a>
						<div class="clear"></div>
					</div>
				</div>	
				<div class="hdr-srch-devider"></div>
				<a href="#" class="menu-btn"></a>
				<nav class="header-nav">
					<ul>
						<li><a href="/home">Home</a>
							
						</li>
			
						<li><a href="#">Flights</a>
							<ul>
								<li><a href="/flight_history_a">Flights History</a></li>
								<li><a href="/future_flights_a">Future Flights</a></li>
															</ul>
						</li>
						
					
					</ul>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>	
</header>
  

<!-- Navbar -->	

<!-- main-cont -->
<div class="main-cont">
  <div class="body-wrapper">
    <div class="wrapper-padding">
    <div class="page-head">
      <div class="page-title">Air Ticket - <span>booking</span></div>
      <div class="breadcrumbs">
        <a href="/home">Home</a> / <span>flight booking</span>
      </div>
      <div class="clear"></div>
    </div>

	<div class="sp-page">
		<div class="sp-page-a">
			<div class="sp-page-l">
  				<div class="sp-page-lb">
  					<div class="sp-page-p">
						<div class="booking-left">
						   <h2>Agent Information</h2>
							
							<div class="booking-form">
								<div class="booking-form-i">
									<label>Agent ID:</label>
									<div class="input"><input type="text" readonly>{{agent_info["booking_agent_ID"]}}</div>
								</div>
								
								<div class="booking-form-i">
									<label>Email Adress:</label>
									<div class="input"><input type="text" readonly>{{agent_info["agent_email"]}}</div>
								</div>
								
								<div class="clear"></div>
							</div>
							
						
												
							
							
							
						
							
							<div class="booking-devider no-margin"></div>	
							
							
							<div class="payment-wrapper">
							
								<div class="clear"></div>
								<form name= "payment_info" action="/round_booking_complete_a" method= "POST">	
								
								<h2>Passenger Information</h2>
								<div class="booking-form-i">
									<label>First Name:</label>
									<div class="input">
									<input type="text" name= "passenger_first_name" required/>
									</input>
									</div>
								</div>
								<div class="booking-form-i">
									<label>Last Name:</label>
									<div class="input">
									<input type="text" name= "passenger_last_name" required/>
									</input>
									</div>
								</div>
								
								<div class="booking-form-i">
									<label>Passport Number:</label>
									<div class="input">
									<input type="text" name= "passport_number" required>
									</input>
									</div>
								</div>
								
								<div class="booking-form-i">
									<label>Email Address:</label>
									<div class="input"><input type="text" name= "passenger_email" required></div>
								</div>
								<br>
								
								<h2>Booking Information</h2>
								<div class="payment-tabs-content">
									<!-- // -->
									
									<div class="payment-tab">
										<div class="payment-type">
										
											<label>Card Type:</label>
											<select class="custom-select" name= "card_type" required >
													<option>debit</option>
													<option>credit</option>
											</select>
											<div class="clear"></div>
										</div>
										<div class="booking-form">
											<div class="booking-form-i">
												<label>Card Number:</label>
												<div class="input"><input required type="text" name= "card_number" placeholder="1234-1234-1234"></div>
											</div>
											<div class="booking-form-i">
												<label>Card Holder Name:</label>
												<div class="input"><input required type="text" name= "card_holder" ></div>
											</div>
											<div class="booking-form-i">
												<label>Expiration Date:</label>
												<div class="input-a">
												<input required type="text"  class="date-inpt" name= "card_expiration" placeholder="mm/dd/yyyy"> 
										        <span class="date-icon"></span>
												
												</div>
												<div class="clear"></div>
											</div>
											<div class="booking-form-i">
												<label>Card Indefication Number:</label>
												<div class="inpt-comment">
													<div class="inpt-comment-l">
  														<div class="inpt-comment-lb">
    														<div class="input"><input required type="text" name= "card_identification" placeholder="123"></div>
  														</div>
  														<div class="clear"></div>
													</div>
												</div>
												
												<div class="clear"></div>
											
											</div>
											<div class="booking-form-i">
												<label>First Flight:</label>
												<div class="input"><input required type="text" name= "flight_full_id1" value= {{flight_full_id1}} readonly></div>
											</div>
											
											<div class="booking-form-i">
												<label>Second Flight:</label>
												<div class="input"><input required type="text" name= "flight_full_id2" value= {{flight_full_id2}} readonly></div>
											</div>
											
											<div class="booking-form-i">
												<label>Price(First Flight):</label>
												<div class="input"><input required type="text" name= "price1" value= ${{price1}} readonly></div>
											</div>
											
											<div class="booking-form-i">
												<label>Price(Second Flight):</label>
												<div class="input"><input required type="text" name= "price2" value= ${{price2}} readonly></div>
											</div>
											
											<div class="booking-form-i">
												<label>Total Price:</label>
												<div class="input"><input required type="text" name= "total_price" value= ${{total_price}} readonly></div>
											</div>
											
											<div class="booking-form-i">
												<label>Commission:</label>
												<div class="input"><input required type="text" name= "commission" value= ${{commission}} readonly></div>
											</div>
											
											<div class="booking-form-i">
												<label>Total Bill:</label>
												<div class="input"><input required type="text" name= "total_payment" value= ${{total_payment}} readonly></div>
											</div>
											
										</div>
										<div class="clear"></div>
										
									</div>
									<!-- \\ -->
									<!-- // -->
									
								</div>
							</div>
							<div class="booking-complete">
								<h2>Review and book your trip</h2>
								
								<button type="submit" class="srch-btn">Complete Booking</button>
								<!--button class="booking-complete-btn">COMPLETE BOOKING</button-->
							</div>
						</form>	
						</div>
  					</div>
  				</div>
  				<div class="clear"></div>
			</div>
		</div>

		<div class="sp-page-r">
			
			<div class="checkout-coll">
				<div class="checkout-head">
					<div class="checkout-headl">
 						<a href="#"> {{flight_full_id1}} </a>
 						<br>
 						<a href="#"> {{flight_full_id2}} </a>
					</div>
					<div class="checkout-headr">
  						<div class="checkout-headrb">
  							<div class="checkout-headrp">
    							<div class="chk-left">
    								<div class="chk-lbl"><a href="#">{{flights_info1["dcity"]}} - {{flights_info1["acity"]}}</a></div>
    								<div class="chk-lbl-a">ROUND FLIGHT</div>
    								<div class="chk-logo">
    									<img alt="" src="img/lufthansa.png">
    								</div>
    								
    							</div>
    							<div class="chk-right">
    								<a href="#"><img alt="" src="img/chk-edit.png"></a>
    							</div>
    							<div class="clear"></div>
  							</div>
  						</div>
  						<div class="clear"></div>
					</div>
				</div>

				<div class="chk-lines">
					<div class="chk-line chk-fligth-info">
						<div class="chk-departure">
							<span>Departure</span>
							<b>{{flights_info1["dep_time"]}}<br>{{flights_info1["dep_day"]}}</b>
						</div>
						<div class="chk-fligth-devider"></div>
						<div class="chk-fligth-time"><img alt="" src="img/icon-nights.png"></div>
						<div class="chk-fligth-devider"></div>
						<div class="chk-arrival">
							<span>Arrival</span>
							<b>{{flights_info1["arr_time"]}}<br>{{flights_info1["arr_day"]}}</b>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				
				<div class="chk-lines">
					<div class="chk-line chk-fligth-info">
						<div class="chk-departure">
							<span>Departure</span>
							<b>{{flights_info2["dep_time"]}}<br>{{flights_info2["dep_day"]}}</b>
						</div>
						<div class="chk-fligth-devider"></div>
						<div class="chk-fligth-time"><img alt="" src="img/icon-nights.png"></div>
						<div class="chk-fligth-devider"></div>
						<div class="chk-arrival">
							<span>Arrival</span>
							<b>{{flights_info2["arr_time"]}}<br>{{flights_info2["arr_day"]}}</b>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				
				<div class="chk-details">
					<h2>Details</h2>
					<div class="chk-detais-row">
						<div class="chk-line">
							<span class="chk-l">FIRST AIRLINE:</span>
							<span class="chk-r">{{flights_info1["airline_name"]}}</span>
							<div class="clear"></div>
						</div>
						<div class="chk-line">
							<span class="chk-l">Second AIRLINE:</span>
							<span class="chk-r">{{flights_info2["airline_name"]}}</span>
							<div class="clear"></div>
						</div>
						<div class="chk-line">
							<span class="chk-l">FLIGHT TYPE:</span>
							<span class="chk-r">Economic</span>
							<div class="clear"></div>
						</div>
						
						
					</div>
					<div class="chk-total">
						<div class="chk-l">Flight1 Price</div>
						<div class="chk-r">${{price1}}</div>
						<div class="clear"></div>
					</div>	
					
					<div class="chk-total">
						<div class="chk-l">Flight2 Price</div>
						<div class="chk-r">${{price2}}</div>
						<div class="clear"></div>
					</div>	
					
					<div class="chk-total">
						<div class="chk-total-l">Total Ticket Price</div>
						<div class="chk-total-r">${{total_price}}</div>
						<div class="clear"></div>
					</div>	
					
					<div class="chk-total">
						<div class="chk-total-l">Commission</div>
						<div class="chk-total-r">${{commission}}</div>
						<div class="clear"></div>
					</div>	
					
					<div class="chk-total">
						<div class="chk-total-l">Total Payment</div>
						<div class="chk-total-r">${{total_payment}}</div>
						<div class="clear"></div>
					</div>				
				</div>
				
			</div>
			
			
			
		</div>
		<div class="clear"></div>
	</div>

    </div>	
  </div>  
</div>
<!-- /main-cont -->



<footer class="footer-b">
	<div class="wrapper-padding">
		<div class="footer-left">© Copyright 2015 by Weblionmedia. All rights reserved.</div>
		<div class="footer-social">
			<a href="#" class="footer-twitter"></a>
			<a href="#" class="footer-facebook"></a>
			<a href="#" class="footer-vimeo"></a>
			<a href="#" class="footer-pinterest"></a>
			<a href="#" class="footer-instagram"></a>
		</div>
		<div class="clear"></div>
	</div>
</footer>

<!-- // scripts // -->
  <script src= "{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src= "{{url_for('static', filename='js/jqeury.appear.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/bxSlider.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/jquery.formstyler.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/custom.select.js')}}"></script> 
  <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>     
  <script type="text/javascript" src="{{url_for('static', filename='js/twitterfeed.js')}}"></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script>
  	$(document).ready(function(){
	    'use strict';
		(function($) {
			$(function() {
				$('.checkbox input').styler({
					selectSearch: true
				});
			});
		})(jQuery);
  	});
  </script>
<!-- \\ scripts \\ --> 
 
</body>  
</html> 