<html>
<head>
  <title>Home</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta charset="utf-8" /><link rel="icon" href="favicon.png" />
  <meta content="eTravel.flights.searches.new" name="js-namespace">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/jquery.formstyler.css">
  <link rel="stylesheet" href="/static/css/style2.css" />
  
  
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>    
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,700' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>  

<body>

<!-- Navbar -->

 <header id="top">
	<div class="header-a">
		<div class="wrapper-padding">			
			<div class="header-phone">
			
			<span> {{username}}</span> 
			
			
			
			</div>
			
            <div class="header-curency">
                
			    <a href="/logout" class="header-viewed-btn">Logout</a>
			    
			</div>
			
			<div class="header-viewed">
				<a href="/customer_spending" class="header-viewed-btn">My Account</a>
				
				<div class="viewed-drop">
						<div class="viewed-drop-a">
						
							<!-- // -->
							<div class="viewed-item">
							    
								
								<div class="viewed-item-l">
									<div class="viewed-item-lbl"><a href="/customer_spending">Track Spending</a></div>	
								</div>
								<div class="clear"></div>
							</div>
							<!-- \\ -->
							
							
						 </div>
					</div>
					
				
            </div>
			
		  </div>
	   </div>
	
	
  </div>	
  
  <!-- Navbar -->	 
	<div class="header-b">
		
			
		<div class="wrapper-padding">
			<div class="header-logo"><a href="index.html"></a></div>
			<div class="header-right">
				<div class="hdr-srch">
					<a href="#" class="hdr-srch-btn"></a>
				</div>
				<div class="hdr-srch-overlay">
					<div class="hdr-srch-overlay-a">
						<input type="text" value="" placeholder="Start typing...">
						<a href="#" class="srch-close"></a>
						<div class="clear"></div>
					</div>
				</div>	
				<div class="hdr-srch-devider"></div>
				<a href="#" class="menu-btn"></a>
				<nav class="header-nav">
					<ul>
						<li><a href="/home">Home</a>
							
						</li>
			
						<li><a href="#">Flights</a>
							<ul>
								<li><a href="/flight_history_c">Flights History</a></li>
								<li><a href="/future_flights_c">Future Flights</a></li>
															</ul>
						</li>
						
					
					</ul>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>	
</header>
<!-- Navbar -->	  
<div class="main-cont">

	<div class="mp-slider search-only">
		<!-- // slider // -->
		
			<div class="swiper-container">
				 
			</div>
		
		<!-- \\ slider \\ -->
	</div>	
	
	<div class="wrapper-a-holder full-width-search">
	<div class="wrapper-a">
	
		<!-- // search // -->
		<div class="page-search full-width-search search-type-b">
		  <div class="search-type-padding">
			<nav class="page-search-tabs">

				<div class="search-tab">Search For Flights</div>
				<div class="clear"></div>	
			</nav>		
			<div class="page-search-content">
			
				
				<!-- // tab content tickets // -->
				<div class="search-tab-content">
					<div class="page-search-p">
					<h4>One way trip</h4>
					<form action="/flight_one_way_c" method= "POST">
						<!-- // -->
						
						<div class="search-large-i">
						<!-- // -->
						<div class="srch-tab-line no-margin-bottom">
						    <div class="srch-tab-left">
						    <label>from</label>
							<select required class="custom-select" name= "dep_city" >
							        <option value="" disabled selected>--</option>
									{% for i in range(airports_info|length)  %}
									<option value= {{airports_info[i]["city"]}} >{{airports_info[i]["city"]}}</option>
									{% endfor %}
							</select>
							</div>
							<div class="srch-tab-right">
								<label>to</label>
								<select required class="custom-select" name= "arr_city" >
								    <option value="" disabled selected>--</option>
									{% for i in range(airports_info|length)  %}
									<option value= {{airports_info[i]["city"]}} >{{airports_info[i]["city"]}}</option>
									{% endfor %}
							</select>
							</div>
							<div class="clear"></div>
						</div>
						<!-- \\ -->							
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="search-large-i">
						<!-- // -->
						<div class="srch-tab-line no-margin-bottom">
							<div class="srch-tab-left">
								<label>Departure</label>
								<div class="input-a" >
								<input class="date-inpt" name= "dep_day" type="text" placeholder="mm/dd/yyyy"> 
								<span class="date-icon"></span></div>	
							</div>
							
							<div class="srch-tab-right">
								<label>Peoples</label>
								<div class="select-wrapper">
								<select class="custom-select" name= "guest_num">
									<option value="" disabled selected>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
								</div>	
							</div>
							<div class="clear"></div>
							

					</div>
					</div>
					<footer class="search-footer">
					    <button type="submit" class="srch-btn">Search for ONE WAY</button>
						
						<div class="clear"></div>
					</footer>
				</div>
				
				</form>	
				<!-- // tab content tickets // -->	
				<div class="page-search-p">
				<h4>Round trip</h4>
					<form action="/flight_round_trip_c" method= "POST">
						<!-- // -->
						<div class="search-large-i">
						<!-- // -->
						<div class="srch-tab-line no-margin-bottom">
						    <div class="srch-tab-left">
						    <label>from</label>
							<select required class="custom-select" name= "dep_city" >
							        <option value="" disabled selected>--</option>
									{% for i in range(airports_info|length)  %}
									<option value= {{airports_info[i]["city"]}} >{{airports_info[i]["city"]}}</option>
									{% endfor %}
							</select>
							</div>
							<div class="srch-tab-right">
								<label>to</label>
								<select required class="custom-select" name= "arr_city" >
								    <option value="" disabled selected>--</option>
									{% for i in range(airports_info|length)  %}
									<option value= {{airports_info[i]["city"]}} >{{airports_info[i]["city"]}}</option>
									{% endfor %}
							</select>
							</div>
							<div class="clear"></div>
							
						</div>
						<!-- \\ -->							
						</div>
						<!-- \\ -->
						<!-- // -->
						<div class="search-large-i">
						<!-- // -->
						<div class="srch-tab-line no-margin-bottom">
							<div class="srch-tab-left">
								<label>Departure</label>
								<div class="input-a" >
								<input class="date-inpt" name= "dep_day" type="text" placeholder="mm/dd/yyyy"> 
								<span class="date-icon"></span></div>	
							</div>
							
							<div class="srch-tab-right">
								<label>Return</label>
								<div class="input-a" >
								<input class="date-inpt" name= "return_day" type="text" placeholder="mm/dd/yyyy"> 
								<span class="date-icon"></span></div>	
							</div>
							<div class="clear"></div>
							
							<div class="srch-tab-right">
								<label>Peoples</label>
								<div class="select-wrapper">
								<select class="custom-select" name= "guest_num">
									<option value="" disabled selected>--</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
								</div>	
							</div>
							<div class="clear"></div>

					   </div>
					   </div>
					   
					   
					  
					<footer class="search-footer">
					    <button type="submit" class="srch-btn">Search for round trip</button>
						
						<div class="clear"></div>
					</footer>
				</div>
				
				</form>	
				
				<!-- // tab content tickets // -->	
				<div class="page-search-p">
				<h4>Flight Status</h4>
					<form action="/flight_status_c" method= "POST">
						<!-- // -->
						<div class="search-large-i">
						<!-- // -->
						<div class="srch-tab-line no-margin-bottom">
						    <div class="srch-tab-left">
						    <label>Flight ID</label>
							<select required class="custom-select" name= "flight_id" >
							        <option value="" disabled selected>--</option>
									{% for i in range(flights|length)  %}
									<option value= {{flights[i]["full_flight_id"]}} >{{flights[i]["full_flight_id"]}}</option>
									{% endfor %}
							</select>
							</div>
							
							
							
							<div class="clear"></div>
							
						</div>
						<!-- \\ -->							
						</div>
						<!-- \\ -->
						<!-- // -->
					
					<footer class="search-footer">
					    <button type="submit" class="srch-btn">Search for flight status</button>
						
						<div class="clear"></div>
					</footer>
				</div>
				
				</form>	
									
			</div>
		</div>
		</div>
		<!-- \\ search \\ -->
       </div>
	
	<div class="clear"></div>	
	
	




<!-- // scripts // -->
  <script src= "{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src= "{{url_for('static', filename='js/jqeury.appear.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/bxSlider.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/jquery.formstyler.js')}}"></script>
  <script src="{{url_for('static', filename= 'js/custom.select.js')}}"></script> 
  <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>     
  <script type="text/javascript" src="{{url_for('static', filename='js/twitterfeed.js')}}"></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script>
  	$(document).ready(function(){
	   'use strict';
      (function($) {
        $(function() {
          $('input:checkbox,input:radio,.search-engine-range-selection-container input:radio').styler();
        })
      })(jQuery);   
	  
		var slider_range = $("#slider-range");
		var ammount_from = $("#ammount-from");
		var ammount_to = $("#ammount-to");
		
		$(function() {
			slider_range.slider({
			  range: true,
			  min: 0,
			  max: 1500,
			  values: [ 275, 1100 ],
			  slide: function( event, ui ) {
				ammount_from.val(ui.values[0]+'$');
				ammount_to.val(ui.values[1]+'$');
			  }
			});
			ammount_from.val(slider_range.slider("values",0)+'$');
			ammount_to.val(slider_range.slider("values",1)+'$');
		});
      
      $(".side-time").each(function(){
          var $this = $(this);
          $this.find('.time-range').slider({
              range: true,
              min: 0,
              max: 24,
              values: [ 3, 20 ],
              slide: function( event, ui ) {
                $this.find(".time-from").text(ui.values[0]);
                $this.find(".time-to").text(ui.values[1]);
              }
          });
          $(this).find(".time-from").text($this.find(".time-range").slider("values",0));
          $(this).find(".time-to").text($this.find(".time-range").slider("values",1));
        });
  	});
  </script>
<!-- \\ scripts \\ --> 
 
</body>  
</html> 